<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Django Students tracker</title>
    </head>
    <body>
        <div>
        <p>Students data</p>
        <a href="{% url 'get_student' %}">Go to random student data</a>
        <a href="{% url 'get_students' %}">Go to students list</a>
        <a href="{% url 'students_add' %}">Go to Add students</a>
        </br>
        <p>Groups data</p>
        <a href="{% url 'get_group' %}">Go to random group data</a>
        <a href="{% url 'get_groups' %}">Go to groups list</a>
        </br>
        <p>Teachers data</p>
        <a href="{% url 'get_teacher' %}">Go to random teacher data</a>
        <a href="{% url 'get_teachers' %}">Go to teachers list</a>
        <a href="{% url 'teachers_add' %}">Go to Add teachers</a>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>