<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Django Students tracker</title>
    </head>
    <body>
        <div>
        <a href="{% url 'get_students' %}">Go to students list</a>
        <a href="{% url 'get_student' %}">Go to random student data</a></br>
        <a href="{% url 'get_teachers' %}">Go to teachers list</a>
        <a href="{% url 'get_teacher' %}">Go to random teacher data</a>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>