<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <table style="width:100%">
            <tr>
                <th>Students data</th>
                <th>Groups data</th>
                <th>Teachers data</th>
            </tr>
            <tr>
                <td><a href="{% url 'get_student' %}">Go to random student data</a></td>
                <td><a href="{% url 'get_group' %}">Go to random group data</a></td>
                <td><a href="{% url 'get_teacher' %}">Go to random teacher data</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'get_students' %}">Go to students list</a></td>
                <td><a href="{% url 'get_groups' %}">Go to groups list</a></td>
                <td><a href="{% url 'get_teachers' %}">Go to teachers list</a></td>
            </tr>
            <tr>
                <td><a href="{% url 'student_add' %}">Go to add student</a></td>
                <td><a href="{% url 'group_add' %}">Go to add group</a></td>
                <td><a href="{% url 'teacher_add' %}">Go to add teacher</a></td>
            </tr>
            </table>
            <p>
                ---------------------------------------------------------------------
            </p>
            <p>
                <a href="{% url 'contact' %}">Send message</a>
            </p>
            <p>
                ---------------------------------------------------------------------
            </p>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>