{% extends "base.html" %}

{% block title %}GROUPS LIST{% endblock %}
{% block content %}
    <h1>GROUPS LIST</h1>
    <form action="{% url 'get_groups' %}"method="get">
        <input name="query_str">
        <input name="submit" type="submit">
    </form>
    <table>
        <tr>
            <th>Group number</th>
            <th>Action</th>
        </tr>
        {% for group in groups %}
            <tr>
                <td>{{ group.number }}</td>
                <td>
                    <a href="{% url 'group_edit' group.id %}">Edit</a></br>
                    <a href="{% url 'group_delete' group.id %}">Delete</a>
                </td>
        {% endfor %}
    </table>
{% endblock %}