{% extends "base.html" %}

{% block body %}
    {% block header %}{% endblock %}
    {% block content %}
        <h1>GROUP LIST</h1>
        <form action="{% url 'get_groups' %}"method="get">
            <input name="query_str">
            <input name="submit" type="submit">
        </form>
        {% for group in groups_list %}
            <div>
                <a href="{% url 'group_edit' pk=group.id %}">
                    {{ group.number }}
                </a>
            </div>
        {% endfor %}
    {% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}