{% extends "base.html" %}

{% block body %}
  <div class="wrapper">
    <div class="overlay"></div>
    {% block header %}{% endblock %}
    {% block content %}
        <div class="post">
            <h1>{{ person_type|capfirst }} Data</h1>
            <div class="date">
                <ul>
                    <li>First name: {{ person.first_name }}</li>
                    <li>Last name: {{ person.last_name }}</li>
                    <li>Birth date: {{ person.birth_date }}</li>
                    <li>E-mail: {{ person.email }}</li>
                    <li>Phone: {{ person.phone }}</li>
                </ul>
            </div>
        </div>
    {% endblock %}
  </div>
  {% block footer %}{% endblock %}
{% endblock %}