{% extends "base.html" %}

{% block body %}
  <div class="wrapper">
    <div class="overlay"></div>
    {% block header %}{% endblock %}
    {% block content %}
        <div class="post">
            <h1>Group Data</h1>
            <div class="date">
                <ul>
                    <li>Number: {{ group.number }}</li>
                    <li>Createdyear: {{ group.created_year }}</li>
                    <li>Department: {{ group.department }}</li>
                    <li>Specialty name: {{ group.specialty_name }}</li>
                </ul>
            </div>
        </div>
    {% endblock %}
  </div>
  {% block footer %}{% endblock %}
{% endblock %}