{% extends "base.html" %}

{% block body %}
    {% block header %}{% endblock %}
    {% block content %}
        <h1>TEACHERS LIST</h1>
        <form action="{% url 'get_teachers' %}" method="get">
            <input name="query_str">
            <input name="submit" type="submit">
        </form>
        {% for teacher in teachers_list %}
            <div>
                <a href="{% url 'teacher_edit' pk=teacher.id %}">
                    {{ teacher.first_name }} {{ teacher.last_name }} {{ teacher.birth_date }}
                </a>
            </div>
        {% endfor %}
    {% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}